:root {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.025em;
    line-height: 1.1;

    /* CSS HEX */
    --teal: #06D6A0;
    --smooth-grey: #334155;
    --light-grey: #6b7280;
    --russian-violet: #0D0630;

    background-color: white;
    color: black;
}

body {
    margin: 0;
}

header {
    font-weight: 700;
    color: var(--russian-violet);
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

h1 {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 0;
}

em {
    color: var(--teal);
    font-style: normal;
}

@media screen and (max-width: 900px) {
    header {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    header h1 {
        font-size: 3rem;
    }
}
