:root {
    font-family: 'JetBrains Mono', monospace;

    /* CSS HEX */
    /* CSS HEX */
    --eton-blue: #86cb92;
    --shiny-shamrock: #71b48d;
    --purple-navy: #404e7c;
    --space-cadet: #251f47;
    --dark-purple: #260f26;


    background-color: white;
    color: black;
}

body {
    margin: 0;
}

em {
    color: #FF247D;
    font-style: normal;
}

.intro {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 3rem;
}

.intro p {
    word-break: break-all;
    line-height: 6rem;
}

.section-description {
    font-family: 'Inter', sans-serif;
    line-height: 1.35;
    font-size: 2.4rem;
    font-weight: 700;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .intro {
        font-size: 2rem;
        text-align: center;
    }
}
