:root {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.025em;
    line-height: 1.1;

    /* CSS HEX */
    --eton-blue: #86cb92;
    --shiny-shamrock: #71b48d;
    --purple-navy: #404e7c;
    --space-cadet: #251f47;
    --dark-purple: #260f26;
    --pretty-pink: #FF247D;
    --smooth-grey: #334155;
    --slate: #0F142A;

    background-color: white;
    color: black;
}

body {
    margin: 0;
}

header {
    font-weight: 700;
    color: var(--slate);
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

h1 {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 0;
}

em {
    color: var(--pretty-pink);
    font-style: normal;
}

@media screen and (max-width: 900px) {
    header {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    header h1 {
        font-size: 3rem;
    }
}
